*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

/* HTML,
BODY {
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
} */

BODY {
    /* overflow: hidden; */
    /* background-color: #222; */
    /* background-color: #770eb4; */
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.025) 10%, transparent 0), linear-gradient(#222, #770eb4);
    background-size: 0.75em 100%, 100% 100%;
    background-attachment: fixed;
    display: flex;
    /* align-items: center; */
}


.wrapper {
    width: 100%;
}


.title {
    text-align: center;
    color: white;
    /* background: white; */
    margin: 100px 0 100px 0;
}

.title h1 {
    font-size: 30px;
}

.title img {
    width: 200px;
}



.back-to-main-btn {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    /* background-color: azure; */
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(255, 255, 255);
    z-index: 10;
    transition: all 0.3s ease 0s;
}

.back-left {
    float: left;
    width: 40px;
    top: 120px;
    left: 20px;

    /* background: yellow; */
}

.back-right {
    float: right;
    /* background: green; */
    top: 120px;
    left: -20px;
}


.bottom {
    /* background: white; */
    height: 200px;
    /* bottsom: 0; */
    padding-bottom: 20px;
}


.back-to-main-btn img {
    margin: 4px 4px 0px 4px;
}

.back-to-main-btn:active {
    top: -10px;
}






.content {
    position: relative;
    flex-grow: 1;
    margin: auto;
    max-width: 1200px;
    max-height: 1200px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2vmin;
    justify-items: center;
    align-items: center;
}

.content IMG {
    z-index: 1;
    grid-column: span 2;
    max-width: 100%;
    margin-bottom: -52%;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transform: scale(1);
    transition: all 0.25s;
}

.content IMG:nth-child(7n+1) {
    grid-column: 2/span 2;
}

.content IMG:hover {
    z-index: 2;
    transform: scale(2);
}